<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo App Adi Moldavski</title>
    <link rel="stylesheet" href="/assets/style/style.css" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" charset="utf-8"></script>
  </head>
  <body>
    <app></app>

    <p class="credits"><small>Double-click to edit a todo</small> <br>Adi Moldavski</p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js" charset="utf-8"></script>

    <!-- App -->
    <script src="/assets/app/app.module.js" charset="utf-8"></script>
    <script src="/assets/app/app.config.js" charset="utf-8"></script>

    <!-- Components -->
    <script src="/assets/app/components/app/app.component.js" charset="utf-8"></script>
    <script src="/assets/app/components/header/header.component.js" charset="utf-8"></script>
    <script src="/assets/app/components/addTodo/addTodo.component.js" charset="utf-8"></script>
    <script src="/assets/app/components/todos/todos.component.js" charset="utf-8"></script>
    <script src="/assets/app/components/todo/todo.component.js" charset="utf-8"></script>

    <!-- Services -->
    <script src="/assets/app/services/auth.services.js" charset="utf-8"></script>
    <script src="/assets/app/services/api.services.js" charset="utf-8"></script>
    <script src="/assets/app/services/authorize.service.js" charset="utf-8"></script>

    <!-- Directives -->
    <script src="/assets/app/directives/ulSticky.directive.js" charset="utf-8"></script>

  </body>
</html>
